<h5>
    <%= @pokemon.Name %>
    <%= @pokemon.Type_1 %>
    <%= @pokemon.Type_2 %>
    <%= @pokemon.Total %>
    <%= @pokemon.HP %>
    <%= @pokemon.Attack %>
    <%= @pokemon.Defence %>
    <%= @pokemon.Sp_Atk %>
    <%= @pokemon.Sp_Def %>
    <%= @pokemon.Speed %>
    <%= @pokemon.Generation %>
    <%= @pokemon.Legendary %>
</h5>
