<h5>
    <%= @pokemon.Name %>
    <%= @pokemon.Type_1 %>
    <%= @pokemon.Type_2 %>
    <%= @pokemon.Total %>
    <%= @pokemon.HP %>
    <%= @pokemon.Attack %>
    <%= @pokemon.Defense %>
    <%= @pokemon.Sp_Atk %>
    <%= @pokemon.Sp_Def %>
    <%= @pokemon.Speed %>
    <%= @pokemon.Generation %>
    <%= @pokemon.Legendary %>
</h5>

<%= link_to 'back', pokemons_path %>
<%= link_to 'edit pokemon', edit_pokemon_path(@pokemon) %>
<%= link_to 'delete pokemon', pokemon_path(@pokemon), method: :delete, data: { confirm: 'Are you sure?'} %>
